body{
     background-color: rgb(239, 241, 254);
}

.managementSection{
    margin-left: 300px;
    overflow-x: hidden;
}

.managementContentSection .dataContentSection{
    margin-top: 6rem;
    overflow-y: hidden;
    /* width: 100%; */
    display: flex;
    padding: 1rem 0rem 7rem 0rem;
    flex-direction: column;
   align-items: center;
   font-family: system-ui, -apple-system, BlinkMacSystemFont,
   'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.managementContentSection .managementButton{
    cursor: pointer;
    border: none;
    background-color: var(--blue_var);
    color: white;
    width: 150px;
    height: 45px;
    border-radius: var(--borderRadius_var);
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.managementButton>div{
    height: 25px;
    width: 25px;
    border: 0.2rem solid;
     border-style: outset;
}

.acceptButton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;  
}

.acceptButton>div{
    height: 25px;
    width: 25px;
    border: 0.2rem solid;
     border-style: outset;
}

.managementContentSection .managementButton:hover{
   background-color: var(--selectedBlue_var);
}

.managementContentSection .dataContentSection>.formDataContainer{
    width: 60dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.managementContentSection .dataContentSection>.formDataContainer>form{
    background-color: rgb(255, 255, 255);
    /* border: 0.1rem solid var(--grayLine_var); */
    width: 100%;
    height: 100%;
    padding: 2rem;
    border-radius: 1rem;
}



.managementContentSection .dataContentSection>.formDataContainer>form input[type='file']{
    display: none;
}

.managementContentSection .dataContentSection>.formDataContainer>form>.titleContainer{
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.managementContentSection .dataContentSection>.formDataContainer>form hr{
    margin-bottom: 1.5rem;
}

.managementContentSection .dataContentSection .formDataContainer>form input{
    border: 0.1rem solid var(--grayLine_var);    
}

.managementContentSection .dataContentSection .formDataContainer>form .imagePreviewContainer{
    display: flex;
    align-items: center;
    width: 70%;
    /* justify-content: center; */
}



.image_preview_label{
    display: flex;
    width: 172px;
    height: 275px;
    cursor: pointer;
    border: 0.1rem solid var(--grayLine_var);
}

.imagePreviewInfo{
    width: 172px;
    height: 275px;
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0,0.4);
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1.1rem;
    color: white;
}

.imagePreviewInfo p{
    text-align: center;
}

.image_preview_label:hover{

.imagePreviewInfo{
    display: flex;
}
        
}

.image_preview_label>img{
    display: flex;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.managementContentSection .dataContentSection .formDataContainer>form .inputDataContainer{
    padding: 1.5rem;
    display: flex;
    /* flex-direction: column; */
    gap: 1rem;
}

.managementContentSection .dataContentSection .formDataContainer>form .titleFieldContainer{
    font-size: 1.2rem;
    font-weight: bold;
    width: 20%;
    display: flex;
    justify-content: start;
    width:35%;
}

.managementContentSection .dataContentSection .formDataContainer>form .fieldContainer{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.managementContentSection .dataContentSection .formDataContainer>form .fieldDataContainer{
    width: 100%;
}

.managementContentSection .dataContentSection .formDataContainer>form .fieldDataContainer>*:not(.selectOptions){
    border-radius: var(--borderRadius_var);
    outline-color: var(--blue_var);
    /* border: 0.15rem solid var(--grayLine_var); */
   padding: 0.5rem;
}

.managementContentSection .dataContentSection .formDataContainer>form textarea{
    width: 70%;
    border: 0.1rem solid var(--grayLine_var);
   font-size: 1.05rem;
    height: 150px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.managementContentSection .dataContentSection .formDataContainer>form input:not([type="checkbox"]){
    width: 70%;
    height: 45px;
   font-size: 1.05rem;
   padding: 0.5rem;
}

.managementContentSection .dataContentSection .formDataContainer>form input[type="checkbox"]{
     width: 100%;
    height: 100%;
}

.managementContentSection .dataContentSection .formDataContainer .selectOptions{
    width: 70%;
    height: 45px;
}

.managementContentSection .dataContentSection .formDataContainer .selectOptions input{
    height: 100%;
    display: hidden;
}

.managementContentSection .dataContentSection .formDataContainer .selectOptions>div>div{
    height: 100%;
}

.managementContentSection .dataContentSection .formDataContainer .errorContainer{
    font-size: 1.05rem;
}

.managementContentSection .dataContentSection .formDataContainer .submitFormDataContainer{
    margin-top: 2rem;
    width: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
}

.managementContentSection .dataContentSection .formDataContainer .submitFormDataContainer>button{
    padding: 1rem;
    border: none;
    width: 10rem;
    
}

@keyframes fadeIn_dialog {
    0%{
        opacity: 0%;
        transform: translate(-50%,-100%);
    }
    100%{
        opacity: 100%;
          transform: translate(-50%,-50%);
    }
}

@keyframes  fadeOut_dialog{
     0%{
        opacity: 100%;
          transform: translate(-50%,-50%);
    }
    100%{
        opacity: 0%;
        transform: translate(-50%,100%);
    }
   
}


.currentPathContainer{
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 95%;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600px;
  letter-spacing: 0.5px;
  color: var(--blackFont_var);
}

/* .managementSection  .dialogPane:not(#loadingDialog).closeDialog{
    animation: 1s  fadeOut_dialog;
}

.managementSection  .dialogPane:not(#loadingDialog) hr{ 
    background-color: var(--blue_var);
}

.managementSection  .dialogPane:not(#loadingDialog){
    animation: 1s  fadeIn_dialog;
    display: flex;
    border: none;
    position: fixed;
    left: 84%;
    top: 17%;   
    width: 600px;
    justify-content:start;
    flex-direction: column;
    transform: translate(-50%,-50%);
    --dialogBorder_var:calc(var(--borderRadius_var) + 0.5rem);
    border-radius: var(--dialogBorder_var);
    box-shadow: 0px 0.4rem 0.5rem rgb(0, 0, 0,0.2);
    z-index: 1000;

}

.managementSection  .dialogPane:not(#loadingDialog) .dialogContentContainer{
    /* width: 100%;
    height: 90%;
    padding: 1.3rem; 
}

.managementSection .dialogPane:not(#loadingDialog) .dialogHeaderContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
    height: 15%;
    border-top-right-radius: var(--dialogBorder_var);
    border-top-left-radius: var(--dialogBorder_var);
}

.managementSection .dialogPane:not(#loadingDialog) .dialogHeaderContainer div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 0.5rem;
}

.managementSection .dialogPane:not(#loadingDialog) .dialogHeaderContainer div>img{
    height: 32px;
    width: 32px;
    display: flex;
}

.managementSection  .dialogPane:not(#loadingDialog) .dialogHeaderContainer .dialogTitleContainer{
    color: black;
    opacity: 85%;
    font-size: 1.1rem;
}

.managementSection  .dialogPane:not(#loadingDialog) .dialogHeaderContainer button{
    cursor: pointer;
    border-radius:100%;
    border: none;
    font-weight: 600;
    height: 30px;
    width: 30px;
    color: rgb(0, 0, 0,0.8);
    font-size: 1.15rem;
    position: relative;
    right: 0;
} */


.tableManagementSection{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.tableManagementSection .tableSection .tableContainer{
    height: 600px;

    overflow-y: auto;
}

.tableManagementSection .tableSection .noDataContainer{
    height: 600px;
}