
.registerLibraryContainer .libraryInformationContainer{
    display: flex;
    flex-direction: column;
}

.registerLibraryContainer .checkboxListContainer{

    display: flex;
    flex-direction: column;

}

