
.loggedAccountContainer{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    width: 165px;
    text-decoration: none;
    color: white;
    font-size: 0.95rem;
    font-weight: 600;
    padding: 0.5rem;
    border-radius:var(--borderRadius_var);
    border:0.1rem solid white;
    cursor: pointer;
}

.loggedAccountContainer img{
    border: 0.1rem solid white;
    border-radius: 100%;
    padding: 0.1rem;
}


.noLoggedAccountContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 165px;
    text-decoration: none;
    background-color: white;
    color: var(--blue_var);
    font-size: 0.95rem;
    font-weight: 600;
    padding: 0.5rem;
    border-radius:var(--borderRadius_var);
}

.noLoggedAccountContainer:hover{
    background-color:var(--whiteHover_var);
}

.userAccountOptionsContainer{
    position: absolute;
}

.userAccountDialog{
    display: flex;
    border: none;
    width: 200px;
    height: 200px;
    background-color: white;
    position: absolute;
    top:100%;
    left:70%;
}

.userAccountOptionsContainer{
    
}