
.loggedAccountContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-decoration: none;
    color:white;
    font-size: 0.95rem;
    font-weight: 600;
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
    border-radius:var(--borderRadius_var);  
    cursor: pointer;
}

.noLoggedAccountContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 165px;
    text-decoration: none;
    background-color: white;
    color: var(--blue_var);
    font-size: 0.95rem;
    font-weight: 600;
    padding: 0.5rem;
    border-radius:var(--borderRadius_var);
}

.noLoggedAccountContainer:hover{
    background-color:var(--whiteHover_var);
}

.userAccountOptionsContainer{
    position: absolute;
}