
.libraryAccountListSection{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1.5rem;
    height: 80%;
    width: 100%;
}

.libraryAccountListSection>div{
    border: 0.1rem solid var(--grayLine_var);
    border-radius: var(--borderRadius_var);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
}

.accountSelected{
    background-color: var(--grayLine_var);
}

.libraryAccountOptions{
    height: 20%;
    width: 100%;
    display: flex;
    align-items:center ;
}



.currentLibraryAccountContainer{
    cursor: pointer;
   width: 13rem;
   height: 100%;
   display: flex;
   gap: 0.5rem;
   align-items: center;
}

.currentLibraryAccountContainer:hover{
    background-color: var(--grayLine_var);
}

.loadingDialogContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
}

.loadingDialogContainer dialog{
  position: static;
  
}
