/* 
@keyframes emerge_animation {
    0%{
        opacity: 98%;
        transform: scale(1);

    }
    100%{
        opacity: 100%;
        transform: scale(1);
    }
}

@keyframes disappear_animation {
    0%{
        opacity: 100%;
        transform: scale(1);
    }
    100%{
        opacity: 98%;
        transform: scale(1);
    }
}

.emerge{
    animation: emerge_animation 0.2s;
}

.disappear{
    animation: disappear_animation 0.2s ;
} */