
.managementSection{
    display: flex;
    flex-direction: row;
    margin-left: 300px;
    overflow-x: hidden;
}

.managementContentSection{
    width: 100vw;
}

.dataContentSection{
    display: flex;
    flex-direction: column;
   align-items: center;
}

