
.managementSection{
    margin-left: 300px;
    overflow-x: hidden;
}

.managementContentSection{
}

.dataContentSection{
    display: flex;
    flex-direction: column;
   align-items: center;
}


