

.cardNotificationContainer{
    background-color: red;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    position: relative;
    top: -92%;
    left: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0.2rem;
}

.iconCardContainer>img{
    background-color: var(--grayContainer_var);
    border: 0.1rem solid var(--grayLine_var);
    border-radius: 0.5rem;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}