
.searchContainer{
    display: flex;
    --searchWidth_var:calc(var(--navItemsHeight_var) - 0.3rem);
}

.searchContainer>button{
    background-color: white;
    border: none;
   display: flex;
   justify-content: center;
   align-items: center;
   height:var(--searchWidth_var);
   width: var(--searchWidth_var);
   cursor: pointer;
   border-top-right-radius: var(--borderRadius_var);
   border-bottom-right-radius: var(--borderRadius_var);
}

.searchContainer>button:hover{
    background-color:var(--whiteHover_var);
}

.searchContainer>button:active img{
    width: 15px;
    height: 15px;
}


