
.searchContainer{
    display: flex;
    --searchWidth_var:calc(var(--navItemsHeight_var) - 0.3rem);
   
}

.searchContainer>input{
    border: none;
    height: var(--searchWidth_var);
    width: 700px;
    padding: 0.5rem;
    outline: none;
    font-size: 1.1rem;
    border-top-left-radius: var(--borderRadius_var);
    border-bottom-left-radius: var(--borderRadius_var);
    color: var(--blackFont_var);
}

.searchContainer>button{
    background-color: white;
    border: none;
   display: flex;
   justify-content: center;
   align-items: center;
   height:var(--searchWidth_var);
   width: var(--searchWidth_var);
   cursor: pointer;
   border-top-right-radius: var(--borderRadius_var);
   border-bottom-right-radius: var(--borderRadius_var);
}

.searchContainer>button:hover{
    background-color:var(--whiteHover_var);
}

.searchContainer>button:active img{
    width: 15px;
    height: 15px;
}

