*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --blue_var: rgb(23, 146, 218);
  --selectedBlue_var:rgb(7, 119, 184);
  --white_var:white;
  --grayContainer_var:rgb(235, 235, 235);
  --grayLine_var:rgb(209, 209, 209);
  --grayFont_var:rgb(122, 122, 122);
  --whiteHover_var:rgb(150, 204, 238);
  --blackFont_var: rgb(51, 51, 51);
  --borderRadius_var:0.2rem;
  --mainContainerWidth:100rem;
  transition: 0.2s ease-in-out;
}

::-webkit-scrollbar{
  width: 0.7rem;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(80, 121, 187);
}

@media (max-width:1024px)  {
  body{
    background-color: red;
  }
}