
.navHomeBar{
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding:1.1rem;
    background-color:var(--blue_var);
    --navItemsHeight_var:2.9rem;
    font-family: arial;
    box-shadow: 0px 5px 10px rgb(0, 0, 0,0.2);
}



.navHomeBar>.searchContainer>input{
    height: var(--searchWidth_var);
    border: none;
    width: 700px;
    padding: 0.5rem;
    outline: none;
    font-size: 1.1rem;
    border-top-left-radius: var(--borderRadius_var);
    border-bottom-left-radius: var(--borderRadius_var);
    color: var(--blackFont_var);
}

.userOptionsContainer{
    display: flex;
    justify-content: space-around;
    height: var(--navItemsHeight_var);
    gap: 15px;
    width: 320px;
}

.userOptionsContainer>button{
    background: none;
    border: none;
    cursor: pointer;
}

.userOptionsContainer>div{
    display: flex;
    justify-content: center;
    align-items: center;
}


.notificationsContainer{
   
}
