
.sliderContentContainer{
  height: 430px;
   width: 1530px;
   display: flex;
}

@keyframes emergeSlide_animation {
  0%{
    filter: blur(5px);
  }
  100%{
    filter: blur(0px);
  }
}

@keyframes fadeSlide_animation {
  100%{
    filter: blur(0px);
  }
  0%{
    filter: blur(5px);
  }
}

.emergeSlide{
  animation: emergeSlide_animation 0.5s ease-in-out;
}

.fadeSlide{
  animation: fadeSlide_animation 0.5s ease-in-out;
}

.sliderContainer{
  width: 100%;
  height: 100%;
  /* background-size: contain;  */
  border-radius: calc(var(--borderRadius_var) + 0.2rem);
  display: flex;
  justify-content: center;
  padding: 1rem;
  align-items: center;
  
}

.sliderContainer>img{
  
    border-radius: calc(var(--borderRadius_var) + 0.2rem);
    background-color: black;
}

.changeCurrentSliderContainer{
  display: none;
  position: relative;
  z-index: 50;
}

.sliderContainer:hover{

.changeCurrentSliderContainer{
  display: flex;
}

}

.sliderContainer button{
  border: none;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: none;
}

.sliderContainer button:hover{
  transform: scale(1.2);
}

.sliderContainer button:active{
transform: scale(2.5);
}

.sliderContainer button>img{
  opacity: 70%;
}

#setPreviousSliderContainer{
  left: 5%;
}

#setPreviousSliderContainer img{
  transform: rotateZ(180deg)
}

#setNextSliderContainer{
  right: 5%;
}