
.tableContainer{
    margin-top: 1.8rem;
}

.tableContainer>table{
    display: flex;
    }

.tableContainer>table thead{
    flex: 1;
}

.tableContainer>table tr{
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
}

.tableContainer>table tr:has(th){
    background-color: var(--grayContainer_var);
}

.tableContainer>table th{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: start;
    font-weight: 400;
    font-size: 1.05rem;
    padding: 0.5rem;
}


.tableContainer>table td{
    display: flex;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    flex: 1;
    font-size: 1.05rem;
    align-items: center;
    justify-content: start;
}